<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title> George Michael page</title>
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto+Condensed">
        <link rel="stylesheet" href="/public/styles/stylesheet.css">
    </head>
    <body>
        <h1>About George Michael</h1>
        <p>
            George Michael (born Georgios Kyriacos Panayiotou; 25 June 1963 – 25 December 2016) 
            was an English singer, songwriter and record producer. He is one of the best-selling
            musicians of all time, with his sales estimated at between 100 million and 125 million 
            records worldwide. A prominent figure in popular music, Michael was known as a
            creative force in songwriting, vocal performance, and visual presentation.
            He achieved 13 number-one songs on the UK Singles Chart and 10 number-one songs on the US 
            Billboard Hot 100. Michael won numerous music awards, including two Grammy Awards, three
            Brit Awards, twelve Billboard Music Awards, and four MTV Video Music Awards. He was listed 
            among Billboard's the "Greatest Hot 100 Artists of All Time" and Rolling Stone′s the
            “200 Greatest Singers of All Time”. The Radio Academy named him the most played 
            artist on British radio during the period 1984–2004.Michael was inducted into the Rock 
            and Roll Hall of Fame in 2023.
        </p>
        <img class="img" src="/public/images/jojo miguel.webp" alt="Jójó Michael">
        <a class="button" href="/views/home.html">return to home page</a>
    </body>
</html>