<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title> George Michael page</title>
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto+Condensed">
        <link rel="stylesheet" href="/public/styles/stylesheet.css">
    </head>
    <body>
        <h1> George Michael</h1>
        <p> welcome to this basic website about one of the greats, George Michael</p>
        <img class="img" src="/public/images/jojo miguel.webp" alt="Jójó Michael"><!--insert image here-->
        <div class = 'button-class'>
            <a class="button" href="/views/about.html">about George Michael</a>
            <a  class="button" href="/views/works.html"> see George Michael works</a>
        </div>
    </body>
</html>
