<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title> George Michael page</title>
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto+Condensed">
        <link rel="stylesheet" href="/public/styles/stylesheet.css">
    </head>
    <body>
        <h1>George Michael works</h1>
        <p>
        George Michael had numerous hits throughout his career, from solo tracks that got multi-platinum and
        award-winning albuns with the band WHAM!, to multiple collaborations with numerous famous musicians. Here is a list of some of his extensive work.
        </p>
        <div>
            <h2>Solo discography:</h2>
            <ul>
                <li>Faith (1987)</li>
                <li>Listen Without Prejudice Vol. 1 (1990)</li>
                <li>Older (1996)</li>
                <li>Songs from the Last Century (1999)</li>
                <li>Patience (2004)</li>
            </ul>
            <h2>Wham! discography</h2>
            <ul>
                <li>Fantastic (1983)</li>
                <li>Make It Big (1984)</li>
            </ul>
        </div>
        <div class = "button-class">
            <a class="button" href="https://en.wikipedia.org/wiki/George_Michael#Discography_and_record_sales">For a more extense look on his work</a>
            <a class="button" href="/views/home.html">return to home page</a>
        </div>
    </body>
</html>